<div class="flex justify-evenly rows w-100 " >
    <div class="flex justify-center align-center column w-100 drk-teal">
        <h4 class="sea-green" >Home</h4>
        <p><a routerLink="Home" >Home</a></p>
    </div>
    <div class="flex justify-center align-center column w-100 lgt-teal">
        <h4 class="drk-teal" >Create Question</h4>
        <p><a routerLink="create-study" >Create</a></p>
    </div>
    <div class="flex justify-center align-center column w-100 sea-green">
        <h4 class="lgt-teal" >User Login</h4>
        <p><a routerLink="user-login" >Click here to login</a></p>
    </div>
</div>


