<div class="flex justify-evenly rows w-100 " >
    <div class="flex justify-center align-center column w-100 drk-teal">
        <h4 class="sea-green" >Title of stuff</h4>
        <p>stuff</p>
    </div>
    <div class="flex justify-center align-center column w-100 lgt-teal">
        <h4 class="drk-teal" >Title of things</h4>
        <p>things</p>
    </div>
    <div class="flex justify-center align-center column w-100 sea-green">
        <h4 class="lgt-teal" >Title of other stuff</h4>
        <p>other stuff</p>
    </div>
</div>


