
<form 
class="flex column bdr p-10 m-5 drk-teal w-80 " 
#login="ngForm" 
(ngSubmit)="onLogin(login)" >
    <label for="userName">User Name</label>
    <input name="userName" ngModel />
    <label for="password">Password</label>
    <input name="password" ngModel />
    <label for="submit">Submit</label>
    <button class="sea-green bunton">
      <i class="bi bi-airplane-engines"></i>
        bunton 
       <i class="bi bi-airplane-engines"></i> 
    </button>
  </form>
  <h1 *ngIf="loggedInUser" >User is logged in!</h1>
