<form *ngIf="!loggedInUser" #login="ngForm" (ngSubmit)="onLogin(login)">
  <label for="userName">User Name</label><br>
  <input name="userName" ngModel /><br>

  <label for="password">Password</label><br>
  <input name="password" ngModel /><br>

  <label for="submit"></label><br>
  <button>Login</button>
</form>

<!-- 
<br><br>
<hr>
<label for="createNewUser">New User? Click To Create An Account</label><br>
<button>Create Account</button>
-->

<div *ngIf="loggedInUser">
  <h4>{{loggedInUser.User.userName}} is logged in!</h4>
  <button (click)="onLogout()">Logout</button>
</div>