
    <div 
    *ngIf="study !== null" 
    
    class="flex column bdr w-80 p-10 justify-center align-center sea-green  ">
        <p class="txt-center w-100" >
            {{study.question}}
            <span   id="fravrit-star"  >
                <i (click)="fravritClicked($event)"  appFravrit class="bi bi-star-fill"></i>
            </span>
        </p>
        <p 
        (click)="notIsCanAnswer($event)"
        class="flex drk-teal bdr-radius justify-center align-center shadow w-80" ><i class="bi bi-patch-question-fill"></i></p>
        <div 
        class="o"
        [@answerState]="answerState" 
        
         >
            <p
            id="answer" 
             >{{study.answer}}</p>
        </div>
    </div>
