
.answer-container {
    font-family: monospace;
    display:flex;
    flex-direction:row wrap;
    justify-content: start;
    align-items: center;
    padding: 2px;
    background-color: transparent;
    color: white;
    text-shadow: 2px 3px black;
    height: auto;
}

.answer {
    background-color: slateblue;
    padding: 5px;
    height: auto;
    text-align: left;
}