/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
:root {
    --dark-teal: #388087;
    --light-teal: #6FB3B8;
    --light-blue: #BADFE7;
    --sea-green: #C2EDCE;
    --white: #F6F6F2;
}
*{
    font-family:monospace;
}
.flex {
    display: flex;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-evenly {
    justify-content: space-evenly;
}
.align-center {
    align-items: center;
}
.align-start {
    align-items: flex-start;
}
.align-end {
    align-items: flex-end;
}
.rows {
    flex-direction: row wrap;
}
.w-20 {
    width:20%;
    max-width:20%;
}
.h-10 {
    height: 10vh;
    max-height: 10vh;
}
.height-50 {
    height: 100vh;
}
.bdr-radius {
    border-radius: 4px 4px 4px 4px;
}
.shadow {
    box-shadow: 4px black, 2px pink, 3px red, 2px red;
}
.column {
    flex-flow:column ;
}
.w-100 {
    width:100%;
}
.w-80 {
    width:80%;
}
.w-50 {
    width: 50%;
}

.bdr {
    border: 1px solid black;
    border-radius: 3px;
}
.m-5 {
    margin: 5px;
}
.p-10 {
    padding: 10px;
}
.txt-center {
    text-align: center;
}
.drk-teal {
    background-color: var(--dark-teal);
}
.lgt-teal {
    background-color: var(--light-teal);
}
.sea-green {
    background-color: var(--sea-green);
}
.lgt-blue {
    background-color: var(--light-blue);
}
.white {
    background-color: var(--white);
}
.bunton {
    border: 1px solid black;
    border-radius: 4px;
}